<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQvwx_i1YP4KQe6U6bxVKXLixOxMAvREU</string>
	<key>GCM_SENDER_ID</key>
	<string>201904391024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bledsoef.rex</string>
	<key>PROJECT_ID</key>
	<string>rex-auth-7cb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>rex-auth-7cb4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201904391024:ios:6dea883da40f75227f45b5</string>
</dict>
</plist>